<!doctype html>
<html class="no-js" lang="{{ locale }}">
{% include "components/head.njk" %}
<body>

<section id="title" class="grid-x grid-padding-x">
    <div class="cell show-for-large large-3"></div>
    <div class="cell small-12 large-6">
        <h1>ZEEPSOP</h1>
        <h1>ZEEPSOP</h1>
        <h1>ZEEPSOP</h1>
        <h1>ZEEPSOP</h1>
    </div>
    <div class="cell show-for-large large-3"></div>
</section>

{% include "components/script.njk" %}
</body>
</html>
